showcase-faq {
  display: block;
}

.showcase-faq-block {
  inline-size: 100%;
  padding-block-end: clamp(5rem, 10vw, 8rem);
}

.showcase-faq-list {
  border-block-start: 1px solid var(--border-color);
}
