portfolio-skills {
  display: block;
}

.skills-grid {
  margin-block-start: var(--layout-space-8);
}

.skill-group {
  min-height: 12rem;
  padding-block: var(--layout-space-5);
  border-top: 1px solid var(--border-color);
}
